@charset "UTF-8";

nav {
    background-color: rgb(20, 20, 20, 1);
    border: transparent;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    position: top;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:auto;
    height: 8vh;
    font-size: large;
    display: flex;
}

body {
    background-color: rgb(20, 20, 20);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    backdrop-filter: blur(20px);
    height: 100vh;

}
ul{
    list-style: none;
    display: flex;
}

li{
    letter-spacing: 3px;
    margin-left: 32px;
    color:rgb(236, 218, 251) ;
}

.separador{
    color:transparent;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255) ;
}

button{
    background-color: transparent;
    backdrop-filter: blur(20px);
    border:transparent;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
.Pai{
    background-color: rgb(20,20,20, 1);
    border-radius: 10px;
    position: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 80px;
    padding: 100px;
}

.filho{
    background-color: rgb(20, 20, 20);
    background: linear-gradient(140deg, rgba(20,20,20,1) 61%, rgba(186,23,23,1) 100%);
    box-shadow:0px 0px 40px rgb(255, 0, 0);
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    height: 50vh;
    margin: 20px;
    padding: 20px;
}
